.card-question {
    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.2px);
    -webkit-backdrop-filter: blur(15.2px);
    border: 1px solid rgba(255, 255, 255, 0.22);
    width: 1024px;
    height: 600px;
    position: relative;
    margin-left: 22%;
    margin-top: 7%;
    text-align: center;
}
.question-element
{
    /* align-content: center; */
    margin-top: 10%;
    margin-left: 32%;
}