<app-layout-question></app-layout-question>
<!-- <p>question-id works!</p> -->
<div class="card-question" [hidden]="!scoreVisible" >
  <div style="margin-top: 3%;">
    <h3>
        {{title}}
    </h3>
    <h4>
      สรุปคะแนน
    </h4>
    <div style="width: 400px;height: 400px;margin-left: 29%;margin-top: 3%;">
      <canvas id="myChart">{{ chart }}</canvas>
    </div>
</div>
  Your score {{score}} / {{fullscore}}
</div>
<div class="card-question" *ngIf="!scoreVisible">
    <div style="margin-top: 3%;">
        <h3>
            {{title}}
        </h3>
    </div>
    <div>
      <main class="container" style="margin-left:0" data-animation="fadeInLeft" data-delay="0.8s" id="countdown">
        <div class="card">
            <div class="card_body">
                <div class="countdown_section">
                    <div id="days" class="value">00</div>
                    <div class="countdown_label">DAYS</div>
                </div>
                <div class="countdown_section">
                    <div id="hours" class="value">00</div>
                    <div class="countdown_label">HOURS</div>
                </div>
                <div class="countdown_section">
                    <div id="minutes" class="value">00</div>
                    <div class="countdown_label">MINUTES</div>
                </div>
                <div class="countdown_section">
                    <div id="seconds" class="value">00</div>
                    <div class="countdown_label">SECONDS</div>
                </div>
            </div>
        </div>
    </main>
    </div>
    <nav style="margin-top: 2%;">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1"><<</a>
          </li>
          <li *ngFor="let questionIndex of questInfo;let i = index" class="page-item" >
            <button class="page-link" id="pageIndex{{i}}" (click)="getQuestionNo(i)">{{i+1}}</button>
        </li>
          <li class="page-item">
            <a class="page-link" href="#">>></a>
          </li>
        </ul>
      </nav>
<div class="container">
  <!-- <div id="questionId" style="display: none;"> -->
       <div class="question-element">
        <table>
            <thead>
                <th>ข้อที่ {{no}}</th>
                <th> </th>
                <th>{{questionTitle}}</th>
            </thead>
            <tbody>
                <tr *ngFor="let ans of questionAnswerInfo;let i;">
                    <td>
                        <input class="form-check-input" [checked]="ans.isChecked"  type="checkbox" value="{{ans.questionAnswerId}}" id="{{ans.questionAnswerId}}">
                    </td>
                    <td> 
                      {{i.sequence}}
                    </td>
                    <td>
                        <label class="form-check-label" for="flexCheckDefault">
                          {{ans.answer}}
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
    <div style="margin-top: 3%;margin-left: 70%;">
      <button id="btnBack" *ngIf="this.btnBackIsVisible" class="btn btn-secondary" style="margin-right: 3%;width: 100px;" value="Back" (click)="btnBackClick()">Back</button>
      <button id="btnNext" *ngIf="this.btnNextIsVisible" class="btn btn-warning" style="width:100px" value="Next" (click)="btnNextClick()">Next</button>
      <button id="btnSubmit" *ngIf="this.btnSubmitIsVisible" class="btn btn-warning" style="width:100px" value="Submit" (click)="btnSubmitClick()">Submit</button>
    </div>
</div>
